[submodule "build_renfe"]
	path = build_renfe
	url = https://github.com/tpgalicia/gtfs-renfe-galicia.git

[submodule "build_tranvias"]
	path = build_tranvias
	url = https://github.com/tpgalicia/gtfs-coruna.git
[submodule "build_xunta"]
	path = build_xunta
	url = https://github.com/tpgalicia/gtfs-xunta.git
[submodule "build_vitrasa"]
	path = build_vitrasa
	url = https://github.com/tpgalicia/gtfs-vigo.git
